.container{
    margin-bottom: 60px;
    background-color: #e7307a;
    opacity: 90%;
    border-radius: 20%;
    background-image: url("images/dream-bg.png");
    box-shadow: 10px 10px 20px crimson;
}

body{
color: rgb(221, 147, 147);
    background-repeat: round;
}

h1{
    color: crimson;
    text-align: center;
    font-family: 'Fredoka One', cursive;
font-family: 'Modak', cursive;
font-family: 'Permanent Marker', cursive;
}

 h3{
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    font-family: 'Merienda One', cursive;
    margin-bottom: 20px;

}
.link-button{
text-decoration: none;

background-image: linear-gradient(45deg, lightsalmon, rgb(228, 20, 124));
padding: 10px 20px;
border-radius: 5px;
font-family: 'Merienda One', cursive;
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 18px;
font-weight: 700;
text-align: center;
text-decoration: none;
width: 50%;
margin: 90px 10px 30px 600px;

}

.link-button:hover{
    font-size: 20px;
    font-family: 'Modak', cursive;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;

}
.audio{
    margin-top: 10px;
    text-align: center;

}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}
.carousel-item img{
    height: 800px;
    width: 500px;
    margin: 0 auto;
}

.last-image{
    border-radius: 50%;
    width: 50%;
    height: 30%;
    margin-bottom: 20px;
}

footer p{
    text-align: center;
    color: indigo;
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
    font-size: 25px;

}
.hero{
    text-align: center;
    color: black;
    flex-grow: inherit;
    
    font-style: oblique;
    font-size: 30px;

font-family: 'Sahitya', serif;

cursor: pointer;
}

.hero:hover{
    font-weight: bolder;
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
    color: blue;
    font-size: 50px;
font-family: 'Sahitya', serif;

}